@reference "tailwindcss";

@layer components {
  .imageItem__container {
      @apply rounded-xl overflow-hidden shadow-2xl relative;
      @apply border-(--color-background) border-4 border-solid transition-transform;
      @apply hover:scale-103;
      @apply opacity-100;
  }

  .imageItem__container--dragging {
    @apply opacity-40;
  }

  .imageItem__container--dragOver {
    @apply opacity-40;
  }

  .imageItem__container--selected {
      @apply border-solid border-amber-600;
  }

  .imageItem__container--featured {
      @apply col-span-2 row-span-2;
      @apply after:text-white after:absolute after:right-0 after:top-0 after:p-1 after:m-2 after:rounded-md after:bg-gray-800
  }

  .imageItem__container--featured:after {
    content: "featured" / "This is the featured image, the first image in the gallery";
  }

  .imageItem__image {
    @apply bg-gray-500 bg-contain bg-center box-border w-full h-full aspect-3/2 relative;
    @apply bg-[url(https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExZ3lyd2R6NG5pZnplYjlleTNkOGx6anhqd3lxMWFmZXNxeDR4NHVwcSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/uIJBFZoOaifHf52MER/giphy.gif)];
  }

  .imageItem__Button--delete {
    @apply absolute bottom-2 right-2 z-10;
    @apply text-xs;
  }
}
