@import "tailwindcss";

:root {
  font-family: Work Sans, sans-serif;
  font-weight: 400;

  color: --color-foreground;
  background-color: --color-background;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2rem;
}

@theme {
  --color-background: #edf2f7;
  --color-foreground: #000;
}
