@import "tailwindcss";

:root {
  --background-color: #edf2f7;
  --foreground-color: #000;

  font-family: Work Sans, sans-serif;
  font-weight: 400;

  color: --foreground-color;
  background-color: --background-color;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2rem;
}
